<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EWSoftware.SHFB" version="2019.4.14" targetFramework="native" />
  <package id="EWSoftware.SHFB.NETFramework" version="4.7.2" targetFramework="native" />
  <package id="SHFB" version="2014.5.31" targetFramework="native" />
  <package id="SHFB.XsdDocumentationPlugin" version="15.10.10" targetFramework="native" />
  <package id="TinyXml.SilverHorn" version="2.6.2.1" targetFramework="native" />
</packages>